<div class="main-container">

  <form [formGroup]="user" (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div>
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" formControlName="firstName">
      <div *ngIf="user.get('firstName').invalid && (user.get('firstName').dirty || user.get('firstName').touched)">
        <div *ngIf="user.get('firstName').hasError('required')"><h4 class="headline-validation">First Name is required. ***</h4></div>
      </div>
    </div>
    <div>
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" formControlName="lastName">
    </div>
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" required  formControlName="username">
      <div *ngIf="user.get('username').invalid && (user.get('username').dirty || user.get('username').touched)">
        <div *ngIf="user.get('username').hasError('required')"> <h4 class="headline-validation">Username is Required. ***</h4></div>
      </div>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password">
      <div *ngIf="user.get('password').invalid && (user.get('password').dirty || user.get('password').touched)">
        <div *ngIf="user.get('password').hasError('required')"> <h4 class="headline-validation">Password is Required. ***</h4></div>
      </div>
      <div *ngIf="user.get('password').hasError('minlength')">
        <h4 class="headline-validation">Password must be at least 8 characters long.</h4>
      </div>
      <div *ngIf="user.get('password').hasError('pattern')">
        <h4 class="headline-validation">Password must contain at least one lowercase letter, 
          one uppercase letter, one number, one special character, and be at least 8 characters long.</h4>
      </div>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" required  formControlName="email">
      <div *ngIf="user.get('email').invalid && (user.get('email').dirty || user.get('email').touched)">
        <div *ngIf="user.get('email').hasError('required')"> <h4 class="headline-validation">Email is Required. ***</h4></div>
      </div>
    </div>
    <button type="submit">Register</button>
  </form>
  
</div>