<!-- src/app/product-list/product-list.component.html -->
<div class="product-page">
  <div class="product-list">
    <div class="filter1">
      <app-filter
        [all]="totalProductCount"
        [inStock]="inStockCount"
        [outOfStock]="outOfStockCount"
        (selectedFilterRadioButtonChanged)="onFilterChanged($event)">
      </app-filter>
    </div>
    <div class="product-list1">
      <div
        *ngFor="let prod of products" (click)="selectedProduct=prod">
        <app-product [product]="prod" *ngIf="searchText === '' || prod.name.toLowerCase().includes(searchText)"></app-product>
      </div>
    </div>
  </div>

</div>
